
<div class="text-center">

  <%= image_tag 'AutoHawk_Logo.png' %>
  <%= form_for '/pages' do %>
  <h3>User Login</h3>

  <fieldset>
    Email: <%= text_field_tag :email %>
  </fieldset>
  <fieldset>
    Password: <%= password_field_tag :password %>
  </fieldset>

  <%= submit_tag "Submit" %>
</div>


  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<% end %>
